    #ExpenseBody {
        overflow: scroll;
        height: 90.176vh;
    }

    #TitleBar, hr, #AppealClaim {
        width: 86.225vw;
        margin-inline: auto;
    }
    
    #TitleBar {
        display: flex;
        margin-top: 3.025vh;
    }
    
    #TitleBar h1 {
        margin: 3px;
    }
    
    #Status, #ExpenseDetails {
        margin-inline: auto;
        margin-top: 2vh;
        width: 82vw;
        padding-top: 1vh;
        padding-inline: 4vw;
        padding-bottom: 2vh;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    #Status {
        height: 12.4vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    
    #ExpenseDetails {
        margin-bottom: 2vh;
    }
    
    #ExpenseDetails h2 {
        margin-top: 2vh;
    }
    
    h2, p, a {
        margin: 0;
        font-family: Inter;
        font-weight: 400;
    }

    h2 {
        font-size: 16px;
        color: #204382;
    }

    p {
        font-size: 18px;
    }

    #AppealClaim {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90vw;
        height: 7vh;
        background-color: #0F1F3C;
        margin-bottom: 2vh;
        border-radius: 5px;
    }

    #AppealClaim p {
        color: white;
    }

/* laptop view of the navbar */
@media screen and (min-width: 1024px) {
    #ExpenseBody {
        width: 90vw;
        margin-left: 10vw;
        height: 100vh;
    }

    #Status, #ExpenseDetails {
        padding: 2vw;
    }

    #AppealClaim {
        width: 86vw;
    }

    .AI {
        color: red;
        font-size: 16px;
    }
}


/* Hide Scrollbar */
.main-container::-webkit-scrollbar {
    width: 0;
}
/* Hide Scrollbar (for Edge and Firefox */
#ExpenseBody {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }