.LMEContainer{
    font-family: "Kaiti SC";
    display: flex;
    width: 100vw;
    height: 100vh;
}

.LMEBody{
    margin-left: 10vw;
    width: 90vw;
    height: 100%;
}

.title{
    display: flex;
    height: 5%;
}

.optionsList{
    height: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.option {
    width: auto;
    height: auto;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 2vw;
    color : #00008B;
    border-radius: 20px;
}

.columnTitles{
    height: 5%;
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid grey;
}

.columnTitles p{
    margin-right: 2vw;
    color: #00008B;
}

.scrollboxExpenses{
    width: 100%;
    height: 75%;
    overflow-y: scroll;
}

.claimInfo{
    display: flex;
    flex-direction: row;
    text-align: justify;
}

.claimInfo li{
    display: block;
    list-style-type: none;
    padding-right: 2vw;
}