body{
    margin: 0;
}

.loginContainer {
    font-family: 'Public Sans', Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1svh;
    align-items: center;
    margin: auto;
    /* margin-top: 20svh; */
    height: 100svh;
    justify-content: center;
    width: 100%;
}

.loginForm {
    width: 65.975%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1svh;
}

.loginLegend {
    color: #0F1F3C;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1.08svh;
    text-align: center;
}

.loginField {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-radius: 2px;
    font-size: 14px;

    background-color: #E4E5E8;
    
    /* background-position: 10px 10px;  */
    background-repeat: no-repeat;
    padding: 16px 20px 16px 63px;
}

.loginField:focus {
    outline: none;
}

.un {
    background-image: url('../assets/username.svg');
    background-size: 51px;
}

.pw {
    background-image: url('../assets/password.svg');
    background-size: 51px;
}

.loginSubmit {
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: #0F1F3C;

    color: #FFF;
    text-align: center;
    font-family: "Kaiti SC";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    width: 100%;
    height: 51px;
    cursor: pointer;
}

.loginContainer .error {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 4px;
    border: solid 1px #cc0000;
    box-sizing: border-box;
}

.loginContainer .error-message {
    font-family: 'Public Sans', Verdana, sans-serif;
    color: #cc0000;
    font-size: 1.2rem;
}

.loginContainer .error-dismiss {
    cursor: pointer;
    fill: #cc0000
}

.forgor {
    align-self: center;
    margin-top: 0;

    color: #000;
    font-size: 1.8svh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    /* 
    code for animation taken from
    https://freefrontend.com/css-link-styles/
    */
    position: relative;
    text-decoration: none;
}

/* 
code for fancy animation taken from
https://freefrontend.com/css-link-styles/
*/

.forgor::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #0F1F3C;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.forgor:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/* Login Button Animation */

.loginSubmit {
    font-family: 'Public Sans', Verdana, sans-serif;
    background: linear-gradient(0deg, #0f1f3c, 80%, #204382);
    background-size: 400% 400%;
    transition: .3s;
}

.loginSubmit:hover {
    transition: .3s;
    background-position:50% 20%
}



/* Mobile phones and down */
@media screen and (max-width: 425px) {
   .loginContainer {
        max-width: 100vw;
        margin: 5svh auto;
        justify-content: unset;
        height: unset;
    }

    .loginForm {
        width: 84%;
    }
}

/* Tablets and up */
@media screen and (min-width: 768px) {
    .loginContainer {
        max-width: 50vw;
        /* margin: 5svh auto; */
    }
}

/* Laptops and up */
@media screen and (min-width: 1024px) {
    .loginContainer {
        max-width: 40vw;
        /* margin: 5svh auto; */
    }
}

/* large screens, external monitors and up */
@media screen and (min-width: 1440px) {
    .loginContainer {
        max-width: 30vw;
        /* margin: 5svh auto; */
    }
}