body {
    overflow: hidden;
}

.view-expenses {
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

.ViewExpensesPage{
    font-family: "Public Sans", Verdana, sans-serif;
    width: 95%;
    max-width: 50vw;
}
.pseudoMargin {
    height: 0vh;
}

@media screen and (max-width: 1024px) {
    .ViewExpensesPage {
        height: 88svh;
        max-width: none;
    }
    .pseudoMargin {
        height: 4vh;
    }
}

#PhoneBox{
    /*width: 81.67vw;*/
    width: 100%;
    height: 91svh;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-block: 3.025svh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#TitleBox {
    /* margin-top: 3.35svh; */
    display: flex;
}

#Title{
    max-width: fit-content;
    margin: 0;
    font-family: "Public Sans", Verdana, sans-serif;
    font-size: 2em;
    font-weight: 600;
}



.h2-collapse{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    gap: 1em;
    height: 2em;
    box-shadow: 0 3px 0px #204382;
    cursor: pointer;
}

.ExpenseType{
    font-family: "Public Sans";
    font-size: 1.875em;
}

.h2-collapse .collapse-text{
    font-size: 1em;
    font-weight: bold;
    color: rgba(128, 128, 128, 0.527);
    margin-right: 5px;
}

.h2-collapse button{
    cursor: pointer;
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.claim-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: hsla(206, 22%, 81%, 0.418);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 1em;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.claim-box:hover {
    background-color: hsla(206, 22%, 81%, 0.23);
}
 
.claim-info{
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    color: rgb(19, 31, 58);
}

.claim-info .title {
    font-weight: 600;
}

/*I HAVE NO IDEA WHY THIS CENTERS THE IMAGE BUT LEAVE IT*/
.claim-box svg{
    display: flex;
}

.claim-arrow{
    margin-left: auto;
}

.Status-Img{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 4em;
}


/*This is all to do with the Filtering component of the page*/
.Filter-Icon{ 
    margin-left: auto;
    background-color: white;
    border: 0px;
    cursor: pointer;
}
.Filter-Icon svg{
   font-size: 2rem;
   text-align: center;
}
.filter-box{
    position: absolute;
    background-color: rgb(18, 62, 104);
    z-index: 100;
    width: 100%;
    height: 500svh;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    right: 0;
}
.Filter-Title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: 600;
    color: rgb(255, 245, 245);
    background: linear-gradient(1deg, #0F1F3C 29.91%, #204382 98.99%);
    border-radius: 20px 20px 0px 0px;
}
.Filter-Cross{
    display: flex;
    background-color: transparent;
    border: 0px;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}
#Time-Frame, #Amount, #Currency{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
#Time-Frame h3, #Amount h3, #Currency h3{
    border-bottom: #596783 2px solid;
}
#Currency-Buttons , #Amount-Buttons , #Time-Buttons{
    display: flex;
    gap: 2vw;
}
#Currency-Buttons button, #Amount-Buttons button, #Time-Buttons button, #Apply-button{
    background-color: hsla(0, 0%, 100%, 0.096);
    color: white;
    border-radius: 20px;
    border: 0px;
    min-width: 20vw;
    font-size: 2svh;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

#Apply-Filters{
    display: flex;
    justify-content: center;
    margin-top: 8svh;   
}
#Apply-button{
    background-color: white;
    font-weight: 400;
    color: black;
    min-width: 40vw;
    min-height: 5svh;
    border: #000000 2px solid;
    cursor: pointer;
}

.Filters-Applied-Text{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    background: linear-gradient(1deg, #0F1F3C 29.91%, #204382 98.99%);
    border: none;
    color: #ffffff;
    font-size: 0.8em;
    border: #000000 solid 1px;
    border-radius: 20px;
    padding-left: 5vw;
    padding-right: 5vw;
    height: 2em;
    align-items: center;
}

.filter-box .month-button, .filter-box .amount-button, .filter-box .currency-button {
    cursor: pointer;
}

/* End of filtering section */

/* Desktop View */

@media screen and (min-width: 1024px) {
    .view-expenses {
        width: calc(100% - 9.375vw);
        overflow-y: scroll;
        margin-left: 9.375vw;
    }

    .ViewExpensesPage{
        width: 89vw;
    }

    .filter-box {
        width: calc(100% - 9.375vw);
    }
}