nav {
    background: linear-gradient(1deg, #0F1F3C 29.91%, #204382 98.99%);
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

nav img {
    margin: auto;
}

a:link {
    text-decoration: none;
}

nav .account {
    height: 50px;
    width: 50px;
    cursor: pointer;
    z-index: 10000;
}

nav .account-dropdown {
    width: 140px;
    border-radius: 4px;
    background-color: #e0e0e0;
}

nav .account-dropdown .links {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

nav .account-dropdown .links .dropdown-link {
    width: 100%;
    color: black;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
    padding: 2px;
}

nav .account-dropdown .links .dropdown-link:hover {
    background-color: #d0d0d0;
}


nav .account .accountNavIcon {
    margin: auto;
}

/* mobile view of the navbar */
@media screen and (max-width: 1024px) {
    nav {
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: 9.824svh;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
    }

    nav .one {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: calc(100% * (2/3));
    }

    nav .two {
        display: flex;
        flex-direction: row;
        align-content: center;
        width: calc(100% * (1/3));
    }

    nav .account-dropdown {
        position: absolute;
        background-color: lightgrey;
        padding: 4px;
        /*width: 200px;*/
        /*left: 9rem;*/
        bottom: 9rem;
    }

    nav .link div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav svg {
        margin-bottom: .7svh;
    }

    nav .link div p{
        margin-top: 0;
        margin-bottom: 0;
        color: white;
        font-family: "Kaiti SC";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #createExpenses {
        margin-bottom: 0
    }

    #FDMLogo, .DesktopIdentifiers {
        display: none;
    }

    nav .link div:hover, svg:hover, .active{
        cursor: pointer;

        .activated{
            display: unset;
        }
        .inactive {
            display: none;
        }
    }

    #LogoutBtn {
        display: none;
    }
}

/* laptop view of the navbar */
@media screen and (min-width: 1024px) {
    nav {
        position: absolute;
        top: 0;
        width: 9.375vw;
        height: 100svh;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 2vw;
        padding-right: 2vw;
        align-items: center;
        z-index: 100;
    }

    nav .one {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    nav .two {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        padding: 14px 0;
    }

    nav .link div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 36px;
        width: 9.375vw;
    }

    nav .link svg {
        display: none;
    }

    nav .link div p{
        margin-top: 0;
        margin-bottom: 0;
        color: white;
        font-family: Inter;
        /*font-size: 0.6875rem;*/
        /*font-size: clamp(0.6875rem, 0.3227990970654628rem + 0.564334085778781vw, 1rem);*/
        font-size: 0.8rem;
        font-size: clamp(0.8rem, 0.3227990970654628rem + 0.564334085778781vw, 1rem);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    #FDMLogo {
        margin-top: 25px;
        margin-bottom: 30px;
    }
    
    .MobileIdentifiers {
        display: none;
    }
    
    nav .link div:hover, .active {
        cursor: pointer;
        background-color: #0F1F3C;
        box-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
    }
    
    #LogoutBtn {
        display: unset;
        font-family: Inter;
        position: absolute;
        bottom: 3.237svh;
        color: white;
    }

    #LogoutBtn p {
        margin: 0;
    }

    nav .account-dropdown {
        position: absolute;
        padding: 4px;
        width: 200px;
        left: 9rem;
        bottom: 1rem;
    }
}

/* Icons Stuff */

.activated{
    display: none;
}


