body{
    margin: 0;
}

.ProfileBody{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90.176svh;
    overflow-y: scroll;
}

#EmployeeRole {
    font-weight: 200;
    color: rgba(0,0,0,0.6);
    text-align: center;
}

.pfp{
    height: 220px;
    border-radius: 150px;
    align-self: center;
}

#EmployeeName{
    font-size: 30px;
    font-family: 'Kaiti SC';
    text-align: center;
}

#Stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: auto;
    justify-content: center;
}

.StatsTitle{
    color:#204382;
    font-size: 20px;
    font-weight:400;
    margin-top: 20px;
}

#LMETitle {
    margin-top: 0;
}

.cont{
    font-size: 22px;
    font-weight: 300;
}


#LogoutBtnProfile {
    text-align: center;
    color: white;
    background-color: #0F1F3C;
    padding: 2% 5%;
    margin-bottom: 1svh;
    border-radius: 10px;
}

@media screen and (min-width: 1024px) {
    #LogoutBtnProfile {
        display: none;
    }
}